body {
    font-family: Arial, sans-serif;
    background-color: #74DAC2;
    margin: 0;
    padding: auto;
}

img {
    width: 1000px;
    height: 680px;
}

#container{
    display: flex;
    align-items: normal;
    margin-top: 60px;
}

#div-1{
    width: 360px;
    height: 350px;
    background-color: #509e8c;
    display: flex;
    flex-direction: column;
}

#div-2{
    width: 360px;
    height: 50px;
    background-color: #f6ea3b;
    display: flex;
    flex-direction: column;
}

#div-3{
    margin-top: 14px;
    width: 360px;
    height: 500px;
    background-color: #973d0d;
    display: flex;
    flex-direction: column;
}

#font-type-1{
    color: #b3fff0;
}

#font-type-2{
    margin-top: 20px;
    color: #ffbd95;
}

#input-type-1{
    width: 351px;
}